{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Webhook', '', 'globe', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Webhooks', 'globe') %}
      {% call build_list_table() %}
        {% call build_list_table_headers() %}
          <th>Display Name</th>
          <th>Event Name</th>
          <th>Target</th>
          <th>Method</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(webhook) build_list_table_rows(resource_list['items']) %}
          <td>{{ webhook.name }}</td>
          <td>{{ webhook.events }}</td>
          <td>{{ webhook.config.url }}</td>
          <td>{{ webhook.config.method|upper }}</td>
          <td>
            {{ add_edit_button(href=url_for('.WebhookView:get', id=webhook.uuid)) }}
            {{ add_delete_button(href=url_for('.WebhookView:delete', id=webhook.uuid)) }}
          </td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Webhook') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.name) }}
          {{ render_field(form.events) }}
          {{ render_field(form.services) }}
          <div id="http" class="hidden">
            {{ render_field(form.url) }}
            {{ render_field(form.method) }}
            {{ render_field(form.content_type) }}
            {{ render_field(form.verify_certificate) }}
            {{ render_field(form.body) }}
          </div>
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}

{% block additional_js %}
  <script src="{{ url_for('.static', filename='js/index.js') }}"></script>
{% endblock %}
